* {
  box-sizing: border-box;
  font-family: Inter, san-siref;
}

body {
  margin: 0;
  padding: 0;
}
/* ------------------- Overlay -------------------*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Nền mờ màu đen */
  z-index: 10;
  cursor: pointer;
  display: none;
}
.close {
  color: red;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
/* Side menu */
.side-menu {
  position: fixed;
  display: flex;
  flex-flow: column nowrap; /* the shorthand property of flex-direction and flex-wrap */
  justify-content: flex-start;
  align-items: center;
  min-width: 7%;
  height: 100%;
  background-color: #d9d9d9;
}

/* icon position */
.side-menu a {
  margin: 30px 0;
}

#side-menu__account {
  position: absolute;
  bottom: 0;
}

/* icon's color */
a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  color: red;
}

/* Content */
.main {
  position: relative;
  margin-left: 7%;
}

#nd {
  text-align: center;
}

form {
  /* width: 50%; */
  justify-content: flex-start;
  padding-top: 10px;
  background-color: rgb(230, 230, 223);
  cursor: default;
}

form input {
  max-width: 200px;
}

img {
  width: 100%;
}

.form__submit-style {
  text-align: center;
}
.form__edit-submit-btn,
.form__submit-btn {
  width: 200px;
  padding: 10px 0;
  cursor: pointer;
}

.product__header,
.order__header,
.customer__header {
  height: 100px;
  position: relative;
}

.product__title,
.order__title,
.customer__title {
  background-color: #d9d9d9;
  position: absolute;
  margin: 20px calc(50% - 30%);
  width: 60%;
  padding: 10px;
  /* text */
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.disable {
  display: none;
}

.enable {
  display: block;
}

#product__add-box,
#product__edit-box {
  min-width: 400px;
  width: 800px;
  overflow: auto;
  position: absolute;
  max-height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

table,
td,
th {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 20px;
  margin: auto;
  text-align: center;
}

tr {
  max-height: 100px;
}

table {
  width: 90%;
}

.product__size-id,
.order__size-id,
.customer__size-id {
  width: 10px;
}

.product__btn-style,
.order__btn-style {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.order__width--small {
  width: 10%;
}

.form__x-icon {
  width: 100%;
  background-color: #d9d9d9;
  text-align: right;
  padding: 5px;
}

.form__x-icon a {
  top: 10px;
  margin: 20px;
}

/* this function helps to make two divs in the form stay at the same row */
.form__row {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.form__row input,
label {
  margin: 10px;
}

textarea {
  margin: 10px;
  height: 100px;
}

button {
  border: none;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

button:hover {
  background-color: rgb(255, 0, 0);
}

.customer__status {
  background-color: green;
  color: black;
}

.form__sp-description {
  padding: 10px;
  cursor: pointer;
}
.form__sp-description-more {
  display: none;
}
.form {
  display: flex;
}
.form__row-left {
  max-width: 400px;
  border-right: 1px solid;
  padding: 20px;
}
.form__row-right {
  padding: 20px;
}
.form__row-right .form__row {
  display: flex;
}
.form__row-right label {
  display: inline-block;
  width: 100px;
}
.edit-icon,
.delete-icon {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}
.edit-icon:hover {
  color: #321ee6;
  background-color: #e9e6e6;
}
.delete-icon:hover {
  color: #e61e1e;
  background-color: #e9e6e6;
}
