* {
  box-sizing: border-box;
}
:root {
  --success-color: #2691d9;
  --error-color: #e74c3c;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
.container {
  width: 1000px;
  margin: 0 auto;
  max-width: 100vw;
}
/*------------------------------ Overlay ------------------------------*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Nền mờ màu đen */
  z-index: 10;
  display: none;
}
.close {
  color: red;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
/*------------------------------ header ------------------------------*/
header {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(142, 142, 142, 1) 44%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 2;
  position: sticky;
  top: 0px;
}
#header-background {
  object-fit: cover;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
/* ------------------- top menu -------------------- */
nav#top {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo:hover,
.menu-list:hover,
.user-item:hover {
  opacity: 0.7;
  cursor: pointer;
}
.search-box {
  padding: 5px 10px;
  border-radius: 18px;
  border: none;
  width: 0;
  display: none;
  transition: 0.7s;
}
.search {
  display: flex;
  transition: 0.7s;
}
.search.active .search-box {
  display: block;
  width: 200px;
  transition: 0.7s;
}
btn:focus,
input:focus {
  outline: none;
}
/* ----------- logo -------------- */
#logo {
  width: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo-icon {
  width: 50px;
  border: 2px solid black;
  border-radius: 50%;
  object-fit: cover;
}
#logo-name {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-left: 5px;
  font-weight: 500;
}
#logo-name strong {
  font-size: 2rem;
  font-weight: 600;
}
/* ----------- menu -------------- */
#top-menu {
  display: flex;
}
.menu-list {
  padding: 13px 29px;
}
.menu-item {
  color: black;
  font-size: 1.6rem;
}
/* ----------- user -------------- */
#user-icon-list {
  display: flex;
  column-gap: 22px;
}
.user-item {
  font-size: 2rem;
  background: none;
  border: none;
}
/* ----------- account -------------- */
#account {
  position: relative;
}
.account-option {
  position: absolute;
  background: #504f4f;
  width: 100px;
  left: 50%;
  display: none;
  transform: translate(-50%, 0);
}
.account-option-item {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}
.account-option-item:hover {
  background-color: #888888;
}
.login-btn {
  border-bottom: 1px solid;
}
.account-btn:hover + .account-option,
.account-option:hover {
  display: block;
}
/* ----------- cart -------------- */
.user-cart {
  position: relative;
}
.total-quantity-cart{
  width: 20px;
  font-size: 1.5rem;
  position: absolute;
  color: #fff;
  top: -5px;
  right: -5px;
  background-color: #dd2f2c;
  border-radius: 50%;
}
/*------------------------------ hero ------------------------------*/
#hero .container {
  height: 700px;
  position: relative;
  overflow: hidden;
}
.list-hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transform: translateX();
  transition: 0.5s;
}
.hero-img {
  width: 1000px;
  max-width: 100vw;
  object-fit: cover;
  height: 100%;
}
/* ------------------ next prev btn ------------------ */
.hero-btn {
  position: absolute;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.hero-btn:hover {
  cursor: pointer;
  background-color: #88888822;
  opacity: 0.5;
}
.hero-btn-next {
  right: 0;
}
/* ------------------ dots ------------------ */
#dots-list {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.dot-item {
  padding: 10px;
  border: 2px solid;
  border-radius: 50%;
  margin: 5px;
}
.dot-item.active {
  background-color: black;
}
/*------------------------------ sale ------------------------------*/
#sale {
  margin-top: 100px;
}
h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}
h1::after {
  border-bottom: 2px solid #888888;
  content: "";
  display: block;
  margin-left: 0;
  text-align: center;
  margin: 15px auto 0px;
  width: 60px;
}
h1:hover::after {
  width: 100px;
  transition: 0.75s;
}
#sale-list {
  margin-top: 25px;
  display: flex;
  border: 7px solid #e6e6e6;
}
.sale {
  width: 100%;
  border: 7px solid #e6e6e6;
  padding: 10px 20px;
  position: relative;
}
.sale-img {
  width: 100%;
}
.sale-name {
  font-size: 1.5rem;
  font-weight: 500;
}
.sale-price {
  display: inline-block;
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: #dd2f2c;
}
.sale-original-price {
  margin: 10px 0;
}
.original-price {
  color: #a4a4a4;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: line-through;
}
.sale-value {
  color: #eb5757;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 20px;
}
.more-details {
  color: white;
  font-size: 3rem;
  background-color: black;
  padding: 8px;
  position: absolute;
  top: 30%;
  opacity: 0;
}
.add-cart {
  color: white;
  font-size: 3rem;
  background-color: black;
  padding: 8px;
  position: absolute;
  top: 30%;
  right: 20px;
  opacity: 0;
}
.sale:hover {
  cursor: pointer;
}
.sale:hover > .sale-img {
  opacity: 0.7;
  transition: 0.5s;
}
.sale:hover > .more-details {
  transform: translateX(150%);
  transition: 0.5s;
  opacity: 1;
}
.sale:hover > .add-cart {
  transform: translateX(-150%);
  transition: 0.5s;
  opacity: 1;
}
.note {
  background-color: black;
  font-size: 1.6rem;
  position: absolute;
  padding: 10px;
  position: absolute;
  top: -40px;
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-weight: 300;
  display: none;
}
.note::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-top-color: black;
  border-bottom: 0;
  margin-left: -13px;
  margin-bottom: -13px;
}
.add-cart:hover,
.more-details:hover {
  background-color: #888;
}
.add-cart:hover > .note,
.more-details:hover > .note {
  display: block;
}
/* @media screen and (min-width: 1300px) {
  .container {
    width: 1230px;
    max-width: 100%;
  }
  .more-details {
    position: absolute;
    top: 100px;
    opacity: 0;
  }
  .add-cart {
    position: absolute;
    top: 100px;
    right: 20px;
    opacity: 0;
  }
  .sale:hover > .more-details {
    transform: translateX(240%);
    transition: 0.5s;
    opacity: 1;
  }
  .sale:hover > .add-cart {
    transform: translateX(-240%);
    transition: 0.5s;
    opacity: 1;
  }
} */
/*------------------------------ product ------------------------------*/
#all-product-heading {
  margin-top: 100px;
}
.type-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.type-item {
  width: 100px;
  height: 100px;
}
#product-list {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  position: relative;
}
.product {
  width: 100%;
  border: 7px solid #e6e6e6;
  padding: 10px 20px;
  position: relative;
}
.product-img {
  width: 100%;
}
.product-name {
  font-size: 2rem;
  font-weight: 500;
}
.product-price {
  display: inline-block;
  margin-top: 10px;
  font-size: 2.5rem;
  font-weight: 600;
  color: #dd2f2c;
}
.product-original-price {
  margin: 10px 0;
}
.original-price {
  color: #a4a4a4;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: line-through;
}
.product-value {
  color: #eb5757;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 20px;
}
.more-details {
  color: white;
  font-size: 3rem;
  background-color: black;
  padding: 8px;
  position: absolute;
  top: 25%;
  opacity: 0;
}
.add-cart {
  color: white;
  font-size: 3rem;
  background-color: black;
  padding: 8px;
  position: absolute;
  top: 25%;
  right: 20px;
  opacity: 0;
}
.product:hover {
  cursor: pointer;
}
.product:hover > .product-img {
  opacity: 0.7;
  transition: 0.5s;
}
.product:hover > .more-details {
  transform: translateX(80%);
  transition: 0.5s;
  opacity: 1;
}
.product:hover > .add-cart {
  transform: translateX(-80%);
  transition: 0.5s;
  opacity: 1;
}
.note {
  background-color: black;
  font-size: 1.6rem;
  position: absolute;
  padding: 10px;
  position: absolute;
  top: -40px;
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-weight: 300;
  display: none;
}
.note::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-top-color: black;
  border-bottom: 0;
  margin-left: -13px;
  margin-bottom: -13px;
}
.add-cart:hover,
.more-details:hover {
  background-color: #888;
}
.add-cart:hover > .note,
.more-details:hover > .note {
  display: block;
}
/* --------- listpage ----------- */
#all-product {
  position: relative;
}
.listPage {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 750px;
  left: 50%;
  transform: translateX(-50%);
}

.listPage .numberlist {
  background-color: #888;
  margin: 20px 5px 0;
  padding: 10px;
  cursor: pointer;
}
.numberlist.active {
  background-color: #504f4f;
  color: #fff;
}
/* ------------------------------------- Details ------------------------------------ */
.detail-box {
  background-color: #fff;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 80%;
  overflow-y: auto;
  cursor: default;
  z-index: 11;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.detail-head {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.detail-img {
  width: 400px;
}
.detail-title {
  margin-left: 10px;
}
.detail-heading {
  font-size: 2rem;
  font-weight: 600;
}
.detail-price {
  display: inline-block;
  margin-top: 20px;
  font-size: 2.5rem;
  font-weight: 600;
  color: #dd2f2c;
}
.detail-original-price {
  margin: 20px 0;
}
.detail-original-price-value {
  color: #a4a4a4;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: line-through;
}
.detail-value {
  color: #eb5757;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 20px;
}
.buy-btn,
.add-cart-btn {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  margin-right: 10px;
}
.detail-box h3 {
  margin-top: 20px;
}
.detail-box table {
  margin-top: 10px;
}
.detail-box td:first-child {
  font-weight: 700;
  width: 200px;
}
.detail-box td {
  padding: 10px;
  border: 1px solid;
}
.detail-quantity {
  display: flex;
  margin-bottom: 20px;
  vertical-align: middle;
}
.detail-quantity-value::-webkit-inner-spin-button, 
.detail-quantity-value::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.detail-quantity-value {
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  padding: 5px;
  width: 70px;
  border: 1px solid;
  border-radius: 10px;
  -moz-appearance: textfield;

}
.desc-quantity,
.plus-quantity {
  cursor: pointer;
  font-size: 28px;
  display: flex;
}
/* ------------------------------------- Cart ------------------------------------ */
.cart-heading {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}
.cart-box {
  background-color: #fff;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 80%;
  overflow-y: auto;
  cursor: default;
  z-index: 11;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.cart-table {
  margin: 20px auto;
}
.cart-table th,
.cart-table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid;
}
.cart-table td:first-child {
  width: 500px;
}
.cart-table td:nth-child(2) {
  width: 200px;
}
th {
  font-weight: 700;
}
.order-img {
  width: 100px;
  vertical-align: middle;
  margin-right: 30px;
}
.order-quantity {
  width: 50px;
}
.totalPrice {
  font-weight: 700;
}
.delete-order {
  padding: 10px;
  background-color: #dddbdb;
}
.delete-order:hover {
  opacity: 0.8;
}
.cart-empty {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  opacity: 0.5;
  margin-top: 100px;
}

/* ------------------------------------- Login Page ------------------------------------ */
.login-page {
  display: none;
  height: 100vh;
}
.login-page .container {
  padding: 50px 0;
  border-radius: 24px;
  background-color: #c4c4c4;
  box-shadow: 555px 868px 288px 0px rgba(0, 0, 0, 0),
    355px 556px 264px 0px rgba(0, 0, 0, 0.01),
    200px 312px 223px 0px rgba(0, 0, 0, 0.05),
    89px 139px 165px 0px rgba(0, 0, 0, 0.09),
    22px 35px 91px 0px rgba(0, 0, 0, 0.1);
}
.login-box {
  width: 50%;
  margin: 0 auto;
  padding: 100px;
  border-radius: 28.458px;
  border: 2.134px solid rgba(168, 171, 175, 0.49);
  background: rgba(56, 56, 56, 0.28);
  backdrop-filter: blur(8.893229484558105px);
}
.email-label-login {
  display: inline-block;
  margin-top: 40px;
}
.password-label-login {
  display: inline-block;
  margin-top: 16px;
}
.login-box input {
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 32px;
  padding: 16px;
  align-items: center;
  gap: 10px;
}
.form-login {
  margin: 0 auto;
  width: 250px;
}
.login-submit {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 50px;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7.115px;
  background: #3d3e3f;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}
.register-inlogin {
  margin-top: 24px;
}
.login-box .register-btn {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 10px;
}

/* ------------------------------------- Register Page ------------------------------------ */
.register-page {
  display: none;
  height: 100vh;
}
.register-page .container {
  padding: 50px 0;
  border-radius: 24px;
  background-color: #c4c4c4;
  box-shadow: 555px 868px 288px 0px rgba(0, 0, 0, 0),
    355px 556px 264px 0px rgba(0, 0, 0, 0.01),
    200px 312px 223px 0px rgba(0, 0, 0, 0.05),
    89px 139px 165px 0px rgba(0, 0, 0, 0.09),
    22px 35px 91px 0px rgba(0, 0, 0, 0.1);
}
.register-box {
  width: 50%;
  margin: 0 auto;
  padding: 100px;
  border-radius: 28.458px;
  border: 2.134px solid rgba(168, 171, 175, 0.49);
  background: rgba(56, 56, 56, 0.28);
  backdrop-filter: blur(8.893229484558105px);
}
.name-label-register {
  display: inline-block;
  margin-top: 40px;
}
.email-label-register,
.password-label-register {
  display: inline-block;
  margin-top: 16px;
}
.register-box input {
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 32px;
  padding: 16px;
  align-items: center;
  gap: 10px;
  border: 2px solid #fff;
  transition: 0.3s;
}
.form-register {
  margin: 0 auto;
  width: 250px;
}
.register-submit {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 50px;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7.115px;
  background: #3d3e3f;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}
.login-inregister {
  margin-top: 24px;
}
.register-box .login-btn {
  color: #fff;
  font-size: 1.6rem;
  border-bottom: none;
  margin-left: 10px;
}
.register-box input:focus {
  border: 2px solid var(--success-color);
}
.register-box input.error {
  border: 2px solid var(--error-color);
}
.register-error {
  margin-top: 5px;
  font-size: 1.4rem;
  color: var(--error-color);
}
