body{
    background-color: #e0f7fa;
}



.login-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.login-container:hover {
    transform: scale(1.02); /* Tăng kích thước nhẹ khi hover */
}

.login-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #00796b;
}

.login-form {
    display: flex;
    justify-content: space-between;
    
}

.login-left, .login-right {
    width: 48%; /* Adjust width to fit your design */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    border-color: #ff5722;
    outline: none;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .login-form {
        flex-direction: column; 
    }
    
    .login-left, .login-right {
        width: 100%;        
    }
}

.footer-list{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    
    
    
}
.list-footer{
    display: block;
    margin-top: 20px;
    justify-content: center;
    
    
}
.list{
    padding: 20px;
    margin: 10px;
    color: #007BFF;
   
}
.list:hover{
    text-decoration: underline;
    color:  #0056b3;
    
    


    
    
    

}


.gender-option{
    display: flex;
    padding: 10px;
    
}
input[type="radio"]{
    margin-right: 5px;
    padding: 20px;
}